<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
  <meta charset="utf-8">
</head>
<body>
<script>
  function toCreate() {
    window.location='/salarie/create/0';
  }
  function editFunc(id) {
    window.location='/salarie/update/'+id;
  }
  function deleteFunc(id) {
    if (window.confirm('Etes-vous sur de vouloir supprimer cette entrée ?')) {
      window.location='/salarie/delete/'+id;
    }
  }
</script>
<span class="bigText" th:text="Salaries"></span>
<table class="mainTable">
  <thead>
  <tr>
    <th style="width: 50%;"><span th:text=#{nom}></span></th>
    <th style="width: 50%;"><span th:text=#{prenom}></span></th>
    <th style="width: 50%;"><span th:text=#{email}></span></th>
    <th style="width: 50%;"><span th:text=#{date de naissance}></span></th>
  </tr>
  </thead>
  <tbody>
  <!--/*@thymesVar id="salaries" type=""*/-->
  <tr th:each="salarie : ${salaries}">
    <td th:text="${salarie}"/>
    <td th:text="${salarie.prenom}"/>
    <td th:text="${salarie.email}"/>
    <td th:text="${salarie.dateNaissance}"/>

    <td><a th:href="'javascript:deleteFunc(' + ${salarie.id} +');'"><img src="../static/resources/img/delete.png" height="16" width="16" th:src="@{/resources/img/delete.png}" /></a></td>
    <td><a th:href="'javascript:editFunc(' + ${salarie.id} +');'"><img src="../static/resources/img/edit.png" height="16" width="16" th:src="@{/resources/img/edit.png}" /></a></td>
  </tr>
  </tbody>
</table>
<p></p>
<input type="button" class="button" value="Créer" onclick="toCreate()">&nbsp;<p/><p/>
</body>
</html>